name: run-tests

on: [ push, pull_request ]

jobs:
    psalm:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '8.0'
                    coverage: none

            -   name: Validate composer.json and composer.lock
                run: composer validate

            -   name: Cache Composer packages
                id: composer-cache
                uses: actions/cache@v2
                with:
                    path: vendor
                    key: ${{ runner.os }}-php-${{ hashFiles('**/composer.json') }}
                    restore-keys: |
                        ${{ runner.os }}-php-

            -   name: Install dependencies
                if: steps.composer-cache.outputs.cache-hit != 'true'
                run: composer install --no-progress --no-ansi

            -   name: Run Psalm
                run: composer run-script psalm
    test:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php: [ 8.0, 8.1, 8.2 ]
                laravel: [ 8.*, 9.*, 10.* ]
                include:
                    -   laravel: 8.*
                        testbench: 6.*
                        psalm-laravel: 1.*
                    -   laravel: 9.*
                        testbench: 7.*
                        psalm-laravel: 2.*
                    -   laravel: 10.*
                        testbench: 8.*
                        psalm-laravel: 2.*
                exclude:
                    -   php: 8.0
                        laravel: 10.*
        
        name: Laravel ${{ matrix.laravel }} with PHP ${{ matrix.php }}
        
        steps:
            -   name: Checkout code
                uses: actions/checkout@v2

            -   name: Cache dependencies
                uses: actions/cache@v1
                with:
                    path: ~/.composer/cache/files
                    key: php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

            -   name: Setup PHP
                uses: shivammathur/setup-php@2.9.0
                with:
                    php-version: ${{ matrix.php }}
                    extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
                    coverage: xdebug

            -   name: Install dependencies
                run: |
                    composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" "psalm/plugin-laravel:${{ matrix.psalm-laravel }}" --no-interaction --no-update
                    composer update --prefer-dist --no-interaction --no-suggest

            -   name: Execute tests
                run: composer test-coverage

            -   name: Send coverage
                run: bash <(curl -s https://codecov.io/bash)
